{% extends 'base.html.twig' %}

{% block title %}Magasin
{% endblock %}

{% block body %}

	<div>
		<h1>MAGASIN</h1>

		<div>
			Connecté en tant que :
			{{ utilisateur.username }}
			<a href="{{ path('app_logout') }}">Déconnexion</a>
		</div>

		<nav>
			<ul>
				<li><a href="{{ path('app_shop') }}">Magasin</a></li>
				<li><a href="{{ path('app_mon_avatar') }}">Mon avatar</a></li>
				<li><a href="{{ path('app_quizz') }}">Questionnaire</a></li>
			</ul>
		</nav>
	</div>
{% endblock %}
