{% extends 'base.html.twig' %}

{% block title %}Magasin | Save it !
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{ asset('assets/styles/shop1.css') }}">


{% endblock %}

{% block body %}

	<main>

		<h1>Que veux-tu acheter pour ton avatar ?</h1>
		<div class="categoriesItems">

			<div class="haut">
				<a href="{{ path('app_shop_type', {'type': 'haut'}) }}"><img src="" alt="Exemple de haut pour l'avatar">
				</a>
				<a href="{{ path('app_shop_type', {'type': 'haut'}) }}">Hauts</a>
			</div>

			<div class="bas">
				<a href="{{ path('app_shop_type', {'type': 'bas'}) }}"><img src="" alt="Exemple de bas pour l'avatar">
				</a>
				<a href="{{ path('app_shop_type', {'type': 'bas'}) }}">Bas</a>
			</div>

			<div class="tete">
				<a href="{{ path('app_shop_type', {'type': 'tete'}) }}"><img src="" alt="Exemple de tête pour l'avatar">
				</a>
				<a href="{{ path('app_shop_type', {'type': 'tete'}) }}">Tête</a>
			</div>


			<div class="accessoireMainGauche">
				<a href="{{ path('app_shop_type', {'type': 'accessoireMainGauche'}) }}"><img src="" alt="Exemple d'accessoire main gauche pour l'avatar">
				</a>
				<a href="{{ path('app_shop_type', {'type': 'accessoireMainGauche'}) }}">Accessoires main gauche</a>
			</div>

			<div class="accessoireMainDroite">
				<a href="{{ path('app_shop_type', {'type': 'accessoireMainDroite'}) }}"><img src="" alt="Exemple d'accessoire main droite pour l'avatar">
				</a>
				<a href="{{ path('app_shop_type', {'type': 'accessoireMainDroite'}) }}">Accessoires main droite</a>
			</div>

			<div class="animal">
				<a href="{{ path('app_shop_type', {'type': 'animal'}) }}"><img src="" alt="Exemple d'animal pour l'avatar">
				</a>
				<a href="{{ path('app_shop_type', {'type': 'animal'}) }}">Animaux</a>
			</div>

			<div class="fond">
				<a href="{{ path('app_shop_type', {'type': 'fond'}) }}"><img src="" alt="Exemple de fond pour l'avatar">
				</a>
				<a href="{{ path('app_shop_type', {'type': 'fond'}) }}">Fonds</a>
			</div>

			<div class="filtre">
				<a href="{{ path('app_shop_type', {'type': 'filtre'}) }}"><img src="" alt="Exemple de filtre pour l'avatar">
				</a>
				<a href="{{ path('app_shop_type', {'type': 'filtre'}) }}">Filtres</a>
			</div>


		</div>


	</main>
{% endblock %}
