{% extends 'base.html.twig' %}

{% block title %}Magasin | Save it !
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{ asset('/styles/shop1.css') }}">


{% endblock %}

{% block body %}

	<main>

		<h1>Que veux-tu acheter pour ton avatar ?</h1>
		<div class="categoriesItems">

			<div class="haut">
				<div class="cateRond">
					<a href="{{ path('app_shop_type', {'type': 'haut'}) }}"><img src="{{ asset('images/Pull-raye.png') }}" alt="Exemple de haut pour l'avatar">
					</a>
				</div>
				<a href="{{ path('app_shop_type', {'type': 'haut'}) }}">Hauts</a>
			</div>

			<div class="bas">
				<div class="cateRond">
					<a href="{{ path('app_shop_type', {'type': 'bas'}) }}"><img src="{{ asset('images/Pantalon-orange.png') }}" alt="Exemple de bas pour l'avatar">
					</a>
				</div>
				<a href="{{ path('app_shop_type', {'type': 'bas'}) }}">Bas</a>
			</div>

			<div class="tete">
				<div class="cateRond">
					<a href="{{ path('app_shop_type', {'type': 'tete'}) }}"><img src="{{ asset('images/Chapeau-sorciere.png') }}" alt="Exemple de tête pour l'avatar">
					</a>
				</div>
				<a href="{{ path('app_shop_type', {'type': 'tete'}) }}">Tête</a>
			</div>

			<div class="chaussure">
				<div class="cateRond">
					<a href="{{ path('app_shop_type', {'type': 'chaussure'}) }}"><img src="{{ asset('images/Chaussures-brune.png') }}" alt="Exemple de chaussure pour l'avatar">
					</a>
				</div>
				<a href="{{ path('app_shop_type', {'type': 'chaussure'}) }}">Chaussures</a>
			</div>


			<div class="accessoireMainGauche">
				<div class="cateRond">
					<a href="{{ path('app_shop_type', {'type': 'accessoireMainGauche'}) }}"><img src="{{ asset('images/Excalibur-main-g.png') }}" alt="Exemple d'accessoire main gauche pour l'avatar">
					</a>
				</div>
				<a href="{{ path('app_shop_type', {'type': 'accessoireMainGauche'}) }}">Accessoires main gauche</a>
			</div>

			<div class="accessoireMainDroite">
				<div class="cateRond">
					<a href="{{ path('app_shop_type', {'type': 'accessoireMainDroite'}) }}"><img src="{{ asset('images/Ballon-main-d.png') }}" alt="Exemple d'accessoire main droite pour l'avatar">
					</a>
				</div>
				<a href="{{ path('app_shop_type', {'type': 'accessoireMainDroite'}) }}">Accessoires main droite</a>
			</div>

			<div class="animal">
				<div class="cateRond">
					<a href="{{ path('app_shop_type', {'type': 'animal'}) }}"><img src="{{ asset('images/Dragon.png') }}" alt="Exemple d'animal pour l'avatar">
					</a>
				</div>
				<a href="{{ path('app_shop_type', {'type': 'animal'}) }}">Animaux</a>
			</div>

			<div class="fond">
				<div class="cateRond">
					<a href="{{ path('app_shop_type', {'type': 'fond'}) }}"><img src="{{ asset('images/fond-plage.png') }}" alt="Exemple de fond pour l'avatar">
					</a>
				</div>
				<a href="{{ path('app_shop_type', {'type': 'fond'}) }}">Fonds</a>
			</div>

			<div class="filtre">
				<div class="cateRond">
					<a href="{{ path('app_shop_type', {'type': 'filtre'}) }}"><img src="{{ asset('images/Filtre-amour.png') }}" alt="Exemple de filtre pour l'avatar">
					</a>
				</div>
				<a href="{{ path('app_shop_type', {'type': 'filtre'}) }}">Filtres</a>
			</div>


		</div>


	</main>
{% endblock %}
