{% extends 'base.html.twig' %}

{% block title %}Magasin | Save it !
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{ asset('/styles/shop2.css') }}">
{% endblock %}

{% block body %}

	<main>
		<div class="container boutique">
			<div class="entete">
				<h1 class="categorieItem" id="categoriesItems">{{ typeToutCaractere }}</h1>
				<a href="{{ path('app_shop') }}">
					<button id="btnAnnuler" class="btn2" type="submit">Retour</button>
				</a>
			</div>

			<div class="containerItems">
				{% for accessoire in accessoires %}
					{% if accessoire in accessoiresPossedes %}
						<div class="itemCard-Fond itemPossede">
							<img src="{{ asset('images/' ~ accessoire.visuelAccessoire) }}" alt="Image de {{ accessoire.nomAccessoire }}">
							<div class=" nomitem-prix-acheter-fond">
								<div class="nomItem-prix itemPossede">
									<p>{{ accessoire.nomAccessoire }}</p>
									<p id="prixItem1">
										Vous avez déjà cet accessoire.</p>
								</div>

							</div>
						</div>
					{% else %}

						<div class="itemCard-Fond">
							<img src="{{ asset('images/' ~ accessoire.visuelAccessoire) }}" alt="Image de {{ accessoire.nomAccessoire }}">
							<div class=" nomitem-prix-acheter-fond">
								<div class="nomItem-prix">
									<p>{{ accessoire.nomAccessoire }}</p>
									<p id="prixItem1">
										{{ accessoire.prixAccessoire }}🪙</p>
								</div>
								<a href="{{ path('app_shop_achat', {'id': accessoire.id, 'type' : type}) }}">
									<button id="acheterItem1" class="btn1" type="submit">Acheter</button>
								</a>
							</div>
						</div>
					{% endif %}
				{% endfor %}


			</div>
		</main>
	{% endblock %}
