<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta charset="UTF-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">
		<!--lien CSS global :-->
		<link
		rel="stylesheet" href="{{ asset('/styles/global.css') }}">
		<!--lien Fontawesome :-->
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<!--Fonts :-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> {% block styles %}{% endblock %}{% block scripts %}{% endblock %}
		<title>
			{% block title %}Save it !
			{% endblock %}
		</title>
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% if app.user %}
			<header>
				<div class="logo-titre">
					<img src=" {{ asset('images/logo.png') }}" alt="Logo du site">
					<h1>SAVE IT !</h1>
				</div>

				<nav>
					<a href="{{ path('app_mon_avatar') }}">MON AVATAR</a>
					<a href="{{ path('app_quizz') }}">DOIS-JE L'ACHETER ?</a>
					<a href="{{ path('app_shop') }}">MAGASIN</a>
				</nav>


				<div class="connection-pseudo-money">
					<div class="money-pseudo">
						<p class="porteMonnaie" id="porteMonnaie">{{app.user.argentPossede}}
							🪙
						</p>
						<p id="pseudo">{{ app.user.username }}</p>
					</div>

					<div>
						<i id="iconeLogout" class="fa-solid fa-user"></i>

						<a href="{{ path('app_logout') }}">
							<button class="btnLogout hide" id="btnLogout">Déconnexion</button>
						</a>

					</div>
				</div>
			</header>

		{% else %}
			<header>
				<div class="logo-titre">
					<img src=" {{ asset('images/logo.png') }}" alt="Logo du site">
					<h1>SAVE IT !</h1>
				</div>

			</header>
		{% endif %}

		{% block body %}{% endblock %}

		<footer>
			<p class="credits">Ce site a été créé par :</p>
			<div class="nomsCredits">
				<p>Chloé Fersing,</p>
				<p>Lisa Poinambalom,</p>
				<p>Sam Fievez,</p>
				<p>Stephanie Vancauwenberghe,</p>
				<p>Caroline Poveda,</p>
				<p>Charlotte Sadowczyk</p>
			</div>
		</footer>
	</body>
</html>
