<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Save it !
			{% endblock %}
		</title>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
    {% if app.user %}
		<header>
			<div class="logo-titre">
				<img src="" alt="Logo du site">
			</div>

			<nav>
				<a href="{{ path('app_mon_avatar') }}">MON AVATAR</a>
				<a href="{{ path('app_quizz') }}">DOIS-JE L'ACHETER ?</a>
				<a href="{{ path('app_shop') }}">MAGASIN</a>
			</nav>

			<div class="connection-pseudo-money">
				<div class="money-pseudo">
					<p id="porteMonnaie">{{app.user.argentPossede}} 🪙
					</p>
					<p id="pseudo">{{ app.user.username }}</p>
				</div>
				<i></i>
				<!--TODO insérer icone connection-->
				<!--! Afficher le bouton déconnection-->
			</div>
		</header>

        {% else %}
        <header>
			<div class="logo-titre">
				<img src="" alt="Logo du site">
			</div>

		</header>
    {% endif %}

		{% block body %}{% endblock %}

		<footer>
			<p class="credits">Ce site a été créé par :<br>
				Chloé Fersing<br>
				Lisa Poinambalom<br>
				Sam Fievez<br>
				Stephanie Renee Vancauwenberghe<br>
				Caroline Poveda<br>
				Charlotte Sadowczyk</p>
			<div class="iconesReseauxSociaux">
				<i></i>
				<i></i>
				<i></i>
			</div>
		</footer>
	</body>
</html>
